@{
    ViewBag.Title = "Mavis_1";
}
@model Mavis1.Models.Worker

<div class="row">
    <form method="post" id="formSignUp">
        <div class="col-md-8 col-lg-offset-4">
            <h2>Sign Up!</h2>
            <br />
            <span>First Name:</span>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })<br />
            <span>Last Name: </span>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })<br />
            <span>Email:</span>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })<br />
            <span>Password:</span>@Html.TextBoxFor(m => m.Password, new { @class = "form-control" })<br />

            <button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>

        </div>
    </form>
</div>
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
<div class="row">
    <div class=" panel-default">
        <div class="owl-carousel">
            <div class="item">
                <h4>1</h4>
            </div>
            <div class="item">
                <h4>2</h4>
            </div>
            <div class="item">
                <h4>3</h4>
            </div>
            <div class="item">
                <h4>4</h4>
            </div>
            <div class="item">
                <h4>5</h4>
            </div>
            <div class="item">
                <h4>6</h4>
            </div>
            <div class="item">
                <h4>7</h4>
            </div>
            <div class="item">
                <h4>8</h4>
            </div>
            <div class="item">
                <h4>9</h4>
            </div>
            <div class="item">
                <h4>10</h4>
            </div>
            <div class="item">
                <h4>11</h4>
            </div>
            <div class="item">
                <h4>12</h4>
            </div>
        </div>
        <a class="glyphicon-alert play">Play</a>
        <a class="glyphicon-arrow-right stop">Stop</a>
    </div>
</div>



<div class="row">
    <table @*class="table table-bordered table-responsive table-hover" *@ id="myTable" class="table-striped">
        <tr>
            <th> @Html.DisplayNameFor(model => model.FirstName)</th>
            <th> @Html.DisplayNameFor(model => model.LastName)</th>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <th> @Html.DisplayNameFor(model => model.Password)</th>
        </tr>
        @foreach (var item in Model.ShowAllWorkers)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>

            </tr>
        }
    </table>

</div>
<style>
    #myTable tr th {
        color: white;
        width: 300px;
        height: 40px;
        text-decoration: solid;
        background-color: yellowgreen;
        padding: 10px;
    }
</style>


@section Scripts
{

    <script>
        $("#saveOrder").click(function (e) {
            e.preventDefault();
            var firstname = $("#FirstName").val();
            alert($("#LastName").val());
            var data =
            {
                firstname: $("#FirstName").val(),
                lastname: $("#LastName").val(),
                email: $("#Email").val(),
                password: $("#Password").val()
            }
            $.ajax(
                {

                    dataType: 'json',
                    type: 'POST',
                    url: "/Home/AddUser",
                    data: data,
                    success: function (result) {
                        alert(result);
                        location.relod();
                    },
                    error: function () {
                        alert("Error!")
                    }
                });

        })
    </script>

    <script src="~/Scripts/slider.js">

    </script>
    <script src="~/Scripts/owl.carousel.min.js">

    </script>
}



