@{
    ViewBag.Title = "Winning At Walmart V1";
}
@model WinningAtWalmart.Models.Worker

<div class="row">
    <div class="col-md-8 col-lg-offset-4">
        <h2>Sign Up!</h2>
        <br />
        <span>First Name:</span>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })<br />
        <span>Last Name: </span>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })<br />
        <span>Email:</span>@Html.TextBoxFor(m => m.Email, new { @class="form-control"})<br/>
        <span>Password:</span>@Html.TextBoxFor(m => m.Password, new { @class = "form-control" })<br/>
        <p><a class="btn btn-default" onclick='SaveUser()'>Save</a></p><br /><br/>
    </div>
</div>

<div class="row">
    <table @*class="table table-bordered table-responsive table-hover" *@ id="myTable" class="table-striped">
        <tr>
            <th> @Html.DisplayNameFor(model => model.FirstName)</th>
            <th> @Html.DisplayNameFor(model => model.LastName)</th>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <th> @Html.DisplayNameFor(model => model.Password)</th>
        </tr>
        @foreach (var item in Model.ShowAllWorkers)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>

            </tr>
        }
    </table>

</div>
<style>
    #myTable tr th {
        color:white;
        width:300px;
        height:40px;
        text-decoration:solid;
        background-color:yellowgreen;
        padding:10px;
    }

</style>
<script>
   
    var model = { FirstName: $("#FirstName").val, LastName: $("#LastName").val, Email: $("#Email").val, Password: $("#Password").val }
    $.ajax
        ({
            type: "POST",
            url: "Crud/Create",
            data: JSON.stringify(model),
            contentType: "application/json",
            success:
                function (result)
                {
                    $("#myTable").append
                        (
                            "<tr><td>"
                            + result.firstname +
                            "</td ><td> >"
                            + result.lastname +
                            "</td><td>"
                            + result.email +
                            "</td><td>"
                            + result.password +
                            "</td></tr>"

                            $("#FirstName").val(" ");
                    $("#LastName").val(" ");
                    $("#Email").val(" ");
                    $("#Password").val(" ");
                }



        })
</script>

